a,
a:focus,
a:hover {
    color: #fff;
}

html,
body {
    background-color: #333;
    color: #fff;
}

body {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/bg.jpg);
}

.cover {
    padding: 0 1.5rem;
}

.mastfoot {
    color: #fff;
}

